.container {
  margin-top: 6rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

body {
  background: #f5f5f5;
  font-family: var(--tg-heading-font-family);
}

.card {
  border: none;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background: var(--tg-common-color-white);
}

.card-header {
  background: var(--tg-common-color-white);
}

.nav-item {
  margin: 0 0.5rem;
}


.nav-link {
  color: var(--tg-theme-primary);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s;
}


a.nav-link.active {
  background: var(--tg-theme-primary);
  color: var(--tg-common-color-white);
}

.input-group{
  margin-bottom: 1rem;

}

.card-footer button{
  background: var(--tg-theme-primary);
  color: var(--tg-common-color-white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s;
}

.card-footer button:hover {
  background: var(--tg-common-color-green);
  color: var(--tg-common-color-white);
}

.form-group button{
  background: var(--tg-theme-primary);
  color: var(--tg-common-color-white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s;
}

.form-group button:hover {
  background: var(--tg-common-color-green);
  color: var(--tg-common-color-white);
}

.card-footer button:hover{
  background: var(--tg-common-color-green);
  color: var(--tg-common-color-white);
}

input[type="radio"] {
  margin-right: 5px
}

.bold {
  font-weight: bold
}