<section class="cta-area-two position-relative">
    <div class="cta__bg"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10">
                <div class="cta__content">
                    <p>ARE YOU READY FOR THIS OFFER</p>
                    <h2 class="title">50% Offer For Very First 50</h2>
                    <h5 class="sub-title">Student’s &amp; Mentors</h5>
                    <div class="tg-button-wrap justify-content-center">
                        <a routerLink="/signup" class="btn arrow-btn">Become a Student</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cta__shapes">
        <img src="assets/img/cta_shape002.png" alt="img" class="position-absolute">
        <img src="assets/img/cta_shape003.svg" alt="img" class="position-absolute aos-init aos-animate"
            data-aos="fade-up-left" data-aos-delay="300">
    </div>
</section>
