<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart Page</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table cart-table">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <!-- Repeat this block for each item in the cart -->
                <tr *ngFor="let p of Products; trackBy: trackByFn">
                  <td>
                    <img
                      src="assets/img/{{p.img}}"
                      class="img-fluid"
                      alt="Item Image"
                    />
                  </td>
                  <td>{{p.title}}</td>
                  <td>{{p.author}}</td>
                  <td>{{p.price}}</td>
                  <td>
                    <div class="action">
                      <button class="btn btn-danger" (click)="deleteFromCart(p.id)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                <!-- End of item block -->
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <div class="cart-summary">
            <h4>Total: {{totalPrice}}</h4>
            <button class="btn btn-primary btn-lg">Checkout</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
