<div class="container mt-5">
  <div *ngIf="currentStep === 1" class="container">
    <!-- First Step: Basic Information -->
    <h2>Basic Information</h2>
    <form>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="course.title"
          name="title"
        />
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select
          class="form-select"
          id="category"
          [(ngModel)]="course.category"
          name="category"
        >
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.title }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="courseCover">Course Cover</label>
        <input type="file" class="form-control" id="courseCover" />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="description"
          [(ngModel)]="course.description"
          name="description"
        ></textarea>
      </div>
      <div class="mb-3">
        <button
          class="btn btn-primary me-3"
          (click)="goBack()"
          routerLink="/instructor"
        >
          Back to Courses
        </button>
        <button class="btn btn-success" (click)="nextStep()">Next</button>
      </div>
    </form>
  </div>

  <div *ngIf="currentStep === 2" style="padding: 20px">
    <!-- Third Step: Create sections -->
    <h2 class="fw-bold fs-4 text-dark">Step 3: Create sections</h2>
    <div class="mb-3">
      <button
        class="btn btn-primary"
        style="margin-bottom: 10px"
        (click)="addSection()"
      >
        Add Section
      </button>
    </div>

    <div *ngFor="let section of course.sections" class="card mb-3">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <button class="btn btn-info" (click)="toggleCollapse(section)">
          {{ section.name }}
          <i
            class="fas"
            [ngClass]="{
              'fa-caret-down': !section.collapsed,
              'fa-caret-up': section.collapsed
            }"
          ></i>
        </button>
        <div>
          <button
            class="btn btn-primary me-1"
            (click)="openAddLectureModal(section)"
          >
            Add Lecture
          </button>
          <button class="btn btn-warning me-1" (click)="editSection(section)">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-danger" (click)="deleteSection(section)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>

      <div *ngIf="!section.collapsed" class="card-body">
        <!-- Display added lectures here -->
        <div
          *ngFor="let lecture of section.lectures"
          class="d-flex justify-content-between align-items-center mb-2"
        >
          <div>{{ lecture.title }}</div>
          <div>
            <button class="btn btn-warning me-1" (click)="editLecture(lecture)">
              <i class="fas fa-edit"></i>
            </button>
            <button
              class="btn btn-danger"
              (click)="deleteLecture(section, lecture)"
            >
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <button
      class="btn btn-primary me-3"
      style="margin-right: 5px"
      (click)="previousStep()"
    >
      Back
    </button>
    <button class="btn btn-success" (click)="nextStep()">Next</button>

    <!-- Add Lecture Modal -->
    <div
      #addLectureModal
      class="modal fade"
      id="addLectureModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addLectureModalLabel"
      aria-hidden="true"
      style="margin-top: 20px"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addLectureModalLabel">Add Lecture</h5>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="lectureTitle" class="form-label">Lecture Title</label>
              <input
                type="text"
                class="form-control"
                id="lectureTitle"
                [(ngModel)]="contents.title"
                placeholder="Add Lecture Name"
              />
            </div>
            <div class="mb-3">
              <label for="mediaUpload" class="form-label">Media Upload</label>
              <input
                type="text"
                class="form-control"
                id="mediaUpload"
                [(ngModel)]="contents.url"
                placeholder="Add URL"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-dismiss="modal"
              (click)="closeAddLectureModal()"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-success"
              (click)="saveLecture(['section'])"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="currentStep === 3">
    <!-- Fourth Step: Course Settings -->
    <h2 class="fw-bold">Step 4: Course Settings</h2>
    <form>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          [(ngModel)]="course.price"
          name="price"
        />
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select
          class="form-select"
          id="status"
          [(ngModel)]="course.status"
          name="status"
        >
          <option value="draft">Draft</option>
          <option value="published">Published</option>
        </select>
      </div>
      <button class="btn btn-primary me-3" (click)="previousStep()">
        Back
      </button>
      <button
        class="btn btn-success"
        (click)="publishCourse()"
        routerLink="/home"
      >
        Publish
      </button>
    </form>
  </div>
</div>
