/* styles.css */

/* Custom styles for the container */
.container {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding:20px;
  margin: 3rem auto 2rem; 
}

/* Custom styles for form elements */
.form-group {
  margin-bottom: 20px;
}

/* Custom styles for buttons */
.btn-back {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-next {
  background-color: #198754;
  border-color: #198754;
}

/* Custom styles for modal */
.modal-content {
  border-radius: 12px;
}

.modal-header {
  background-color: #198754;
  color: #fff;
}

.modal-footer {
  justify-content: space-between;
}


/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  color: #198754;
}

.btn-primary {
  background-color: #198754;
  border-color: #198754;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.form-label {
  font-weight: bold;
}

.Createsections, .CourseSettings{
  margin: 3rem auto 2rem; 

}

/* Validation styles */
.is-valid {
  border-color: #198754 !important;
}

.is-invalid {
  border-color: #dc3545 !important;
}

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}