/* Style for form container */
.container {

  max-width: 80%;
  height: 60vh;
  margin: auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color:var(--tg-common-color-gray);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10rem;
  margin-top: 10rem;
  
}

/* Style for form headings */
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Style for form labels */
.form-label {
  font-weight: bold;
}

/* Style for form input fields */
.form-control {
  margin-bottom: 15px;
}

/* Style for buttons */
.btn {
  margin-right: 10px;
}

/* Style for modal */
.modal-dialog {
  max-width: 500px;
}

.modal-content {
  padding: 20px;
}

.modal-title {
  font-weight: bold;
}

/* Style for card */
.card {
  margin-bottom: 20px;
}

/* Style for card header */
.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

/* Style for card body */
.card-body {
  padding: 15px;
}

/* Style for buttons inside card */
.card button {
  margin-right: 5px;
}

/* Style for card footer */
.card-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

/* Style for card title */
.card-title {
  font-weight: bold;
}

/* Style for card text */

.card-text {
  margin-bottom: 10px;
}

