<div class="container">
  <div *ngIf="currentStep === 1">
    <!-- First Step: Basic Information -->
    <h2>Basic Information</h2>
    <form [formGroup]="FormInfo">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          formControlName="title"
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="course.title"
          name="title"
        />
        @if (!isTitleInfoValid) {
        <div>
          <small class="text-danger">Title is required</small>
        </div>
        }
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select
          class="form-select"
          id="category"
          [(ngModel)]="course.category"
          name="category"
        >
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.title }}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="courseCover">Course Cover</label>
        <input
          type="file"
          formControlName="img"
          class="form-control"
          id="courseCover"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          formControlName="description"
          class="form-control"
          id="description"
          [(ngModel)]="course.description"
          name="description"
        ></textarea>
        @if (!isDescriptionValid) {
        <div>
          <small class="text-danger">Description is required</small>
        </div>
        }
      </div>
      <div class="mb-3">
        <button
          class="btn btn-primary me-3"
          (click)="goBack()"
          routerLink="/instructor"
        >
          Back to Courses
        </button>
        <button
          type="submit"
          class="btn btn-success"
          (click)="isInfoFormValid()"
        >
          Next
        </button>
      </div>
    </form>
  </div>

  <div *ngIf="currentStep === 2" style="padding: 20px">
    <!-- Third Step: Create sections -->
    <form [formGroup]="FormCurriculum">
      <h2 class="fw-bold text-dark">Create Curriculum</h2>
      <div class="mb-3">
        <label for="sectionName" class="form-label">Section Title</label>

        <div class="input-group w-50">
          <input
            type="text"
            class="form-control"
            id="sectionName"
            [(ngModel)]="section.title"
            placeholder="Enter Section Name"
            formControlName="sectionTitle"
          />
          <button class="btn btn-primary h-25" (click)="addSection()">
            <i class="fas fa-plus"></i>
            Section
          </button>
        </div>
        @if (!isSectionValid) {
        <div>
          <small class="text-danger">Title is required</small>
        </div>
        }
      </div>

      <div *ngFor="let section of course.sections" class="card mb-3">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <button class="btn btn-section" (click)="toggleCollapse(section)">
            {{ section.title }}
            <i
              class="fas"
              [ngClass]="{
                'fa-caret-up': !section.collapsed,
                'fa-caret-down': section.collapsed
              }"
            ></i>
          </button>
          <div>
            <button class="btn btn-primary me-1" (click)="Addcontent(section)">
              <i class="fas fa-plus"></i>
              content
            </button>
            <button class="btn btn-warning me-1" (click)="editSection(section)">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" (click)="deleteSection(section)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>

        <div *ngIf="!section.collapsed" class="card-body">
          <!-- Display added contents here -->

          <div
            *ngFor="let content of section.contents; let i = index"
            class="d-flex justify-content-between align-items-center mb-2"
          >
            <div>{{ content.title }}</div>
            <div>
              <button
                class="btn btn-warning me-1"
                (click)="editcontant(content)"
              >
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteContent(content)">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <button
        class="btn btn-primary me-3"
        style="margin-right: 5px"
        (click)="previousStep()"
      >
        Back
      </button>
      <button class="btn btn-success" (click)="isCurriculumFormValid()">
        Next
      </button>
    </form>
    <!-- Add content Modal -->
  </div>

  <div *ngIf="currentStep === 3">
    <!-- Fourth Step: Course Settings -->
    <h2 class="fw-bold">Course Settings</h2>
    <form [formGroup]="FormSettings">
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          [(ngModel)]="course.price"
          name="price"
          formControlName="price"
        />
      </div>
      @if (!isPriceValid) {
      <div>
        <small class="text-danger">Price is required</small>
      </div>
      }
      <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select
          class="form-select"
          id="status"
          [(ngModel)]="course.status"
          name="status"
        >
          <option value="draft">Draft</option>
          <option value="published">Published</option>
        </select>
      </div>
      <button class="btn btn-primary me-3" (click)="previousStep()">
        Back
      </button>
      <button
        class="btn btn-success"
        (click)="isSettingsFormValid()"
        routerLink="/home"
      >
        Publish
      </button>
    </form>
  </div>

  <!-- Add content Modal -->
  <form [formGroup]="FormContant">
    <div
      #addcontentModal
      class="modal fade"
      id="addcontentModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addcontentModalLabel"
      aria-hidden="true"
      style="margin-top: 20px"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addcontentModalLabel">Add content</h5>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="contentTitle" class="form-label">content Title</label>
              <input
                type="text"
                class="form-control"
                id="contentTitle"
                [(ngModel)]="contents.title"
                placeholder="Enter content Name"
                formControlName="contentTitle"
              />
              @if (!isContentTitleValid) {
              <div>
                <small class="text-danger">Title is required</small>
              </div>
              }
            </div>
            <div class="mb-3">
              <label for="mediaUpload" class="form-label">Media Upload</label>
              <input
                type="text"
                class="form-control"
                id="mediaUpload"
                [(ngModel)]="contents.url"
                placeholder="Enter Media URL"
                formControlName="media"
              />
              @if (!isMediaValid) {
              <div>
                <small class="text-danger">Media URL is required</small>
              </div>
              }
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-dismiss="modal"
              (click)="closeAddcontentModal()"
            >
              Close
            </button>

            <button
              type="button"
              class="btn btn-success"
              (click)="savecontent(['section'])"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
