<div class="hero-header d-flex flex-column justify-content-center justify-content-sm-center w-100" >
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6 col-sm-12">
                <div class="banner__content-two">
                    <h1 class="title mb-3" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="400">
                        Learning is
                        <span class="position-relative">
                            <svg x="0px" y="0px" preserveAspectRatio="none" viewBox="0 0 209 59" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4.74438 7.70565C69.7006 -1.18799 136.097 -2.38304 203.934 4.1205C207.178 4.48495 209.422 7.14626 208.933 10.0534C206.793 23.6481 205.415 36.5704 204.801 48.8204C204.756 51.3291 202.246 53.5582 199.213 53.7955C136.093 59.7623 74.1922 60.5985 13.5091 56.3043C10.5653 56.0924 7.84371 53.7277 7.42158 51.0325C5.20725 38.2627 2.76333 25.6511 0.0898448 13.1978C-0.465589 10.5873 1.61173 8.1379 4.73327 7.70565"
                                    fill="currentcolor"></path>
                            </svg>
                            What You
                        </span>
                        Make of it. Make it Yours at SkillGro.
                    </h1>
                    <div class="banner__btn-two" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="600">
                        <a routerLink="/signup" class="btn arrow-btn">Start Free Trial</a>
                        <a href="https://www.youtube.com/watch?v=b2Az7_lLh3g" class="play-btn popup-video"><i
                                class="fa fa-play"></i> Watch Our <br> Class Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="quick__action-area section-pt-100 section-pb-70">
    <div class="container">
        <div class="row justify-content-center mx-auto">
            <div class=" sec col-lg-6 col-md-10 col-sm-12" data-aos="fade-up" data-aos-duration="1000">
                <div class="quick__action-item qac1">
                    <div class="quick__action-content">
                        <h4 class="title">Best Instructors from around <br> the world</h4>
                        <div class="tg-button-wrap">
                            <a routerLink="/signup" class="btn white-btn tg-svg"><span class="text">Register
                                    Now</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" sec col-lg-6 col-md-10 col-sm-12" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
                <div class="quick__action-item qac2">
                    <div class="quick__action-content">
                        <h4 class="title">Get unlimited access to 6,000+ of courses</h4>
                        <div class="tg-button-wrap">
                            <a routerLink="/courses" class="btn white-btn tg-svg"><span class="text">Discover
                                    Now</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="platform-highlights h-100 p-lg-5 ">
    <div class="container py-5 ">
        <div class="card border-0">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-3">
                    <div class="faq__img-wrap tg-svg">
                        <div class="faq__img faq__img-two">
                            <img src="assets/img/faq_img.png" alt="img">
                            <div class="shape-one">
                                <svg xmlns="http://www.w3.org/2000/svg" width="243" height="201" viewBox="0 0 243 201"
                                    fill="none"
                                    data-inject-url="https://themegenix.com/demo/skillgro/assets/img/others/faq_shape01.svg"
                                    class="injectable tg-motion-effects4"
                                    style="transform: matrix(1, 0, 0, 1, 2.27883, 10.2362);">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M33.4888 2.33732C51.0788 -4.90402 74.7375 10.3492 95.1583 10.1059C112.054 9.90458 124.917 -1.94773 142.286 1.04108C161.229 4.30087 182.771 11.4675 196.311 27.5126C209.823 43.525 204.073 64.7482 211.768 83.3776C219.978 103.254 244.371 120.756 242.796 140.051C241.244 159.064 219.234 165.093 204.324 174.576C191.463 182.756 177.07 187.574 161.728 191.613C144.966 196.024 128.585 200.247 110.135 199.366C85.6793 198.199 52.9607 207.808 36.8703 185.654C19.1764 161.292 51.8095 136.455 44.5608 109.082C38.4883 86.1502 3.04428 71.7681 0.682568 48.9991C-1.5703 27.2795 15.2076 9.8632 33.4888 2.33732Z"
                                        fill="currentcolor"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-6 col-md-12">
                    <div class="card-body p-lg-5">
                        <h2 class="title">
                            Thousand Of Top
                            <span class="position-relative">
                                <svg x="0px" y="0px" preserveAspectRatio="none" viewBox="0 0 209 59" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M4.74438 7.70565C69.7006 -1.18799 136.097 -2.38304 203.934 4.1205C207.178 4.48495 209.422 7.14626 208.933 10.0534C206.793 23.6481 205.415 36.5704 204.801 48.8204C204.756 51.3291 202.246 53.5582 199.213 53.7955C136.093 59.7623 74.1922 60.5985 13.5091 56.3043C10.5653 56.0924 7.84371 53.7277 7.42158 51.0325C5.20725 38.2627 2.76333 25.6511 0.0898448 13.1978C-0.465589 10.5873 1.61173 8.1379 4.73327 7.70565"
                                        fill="currentcolor"></path>
                                </svg>
                                Courses
    
                            </span>
                            <br>
                            Now in One Place
                        </h2>
                        <p class="card-text mb-4">Become the dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                            eirmod
                            tempor
                            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                            et justo duo dolores et ea rebum. Stet.</p>
                        <ul class="about__info-list list-wrap mb-5 ps-0">
                            <li class="about__info-list-item mb-3 ">
                                <i class="fa fa-angle-right"></i>
                                <p class="content">The Most World Class Instructors</p>
                            </li>
                            <li class="about__info-list-item mb-3">
                                <i class="fa fa-angle-right"></i>
                                <p class="content">Access Your Class anywhere</p>
                            </li>
                            <li class="about__info-list-item mb-3">
                                <i class="fa fa-angle-right"></i>
                                <p class="content">Flexible Course Plan</p>
                            </li>
                        </ul>
                        <a routerLink="/signup" class="btn more-link">Start Free Trail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>