<div class="product-card container">
    <div class="row">
        @for (p of Products; track p.id) {
            <div class="shop-item col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="shop-thumb">
                        <a href="shop-details.html">
                            <img src="assets/img/{{p.img}}" class="img-fluid card-img ">
                        </a>
                        <ul class="shop-action">
                            <li style="cursor: pointer;"><a (click)="addToCart(p)"><i class="fa fa-shopping-cart"></i></a></li>
                            <li style="cursor: pointer;"><a (click)="addToWishlist(p)"><i class="fa fa-heart"></i></a></li>
                            <li><a routerLink="/products/{{p.id}}"><i class="fa fa-eye"></i></a></li>
                        </ul>
                    </div>
                    <div class="shop-content card-body ">
                        <h3 class="title shop-content-h3 card-title"><a href="shop-details.html"
                                style="color: var(--tg-heading-color);">{{p.title}}</a></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span class="avg">({{p.rating}})</span>
                        </div>
                        <h4 class="price">{{p.price}}&#163;</h4>
                    </div>
                </div>
            </div>
            }
    </div>
</div>
