.container{
    margin-top: 13rem;
    margin-bottom: 10rem;
}

.card:hover.col-lg-3.col-md-6.col-sm-12{
    box-shadow: 7px 7px 0px #CAC9D6;
 }

.card {
    border: 1px solid #E8E8E8;
    border-radius: 6px;
    padding: 25px 25px 30px;
    margin-bottom: 2.5rem;
    background: var(--tg-common-color-white);
    transition: all 0.3s ease-out 0s;
    
}


.shop-thumb {
    position: relative;
    text-align: center;
    margin-bottom: 25px;
}


.shop-action {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    gap: 10px;
    margin: 0px;
    padding: 0px;
    list-style: none;

}

.card:hover .shop-action li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.shop-action li {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: visibility 0.3s ease-out 0.1s, opacity 0.3s ease-out 0.15s, transform 0.3s ease-out 0.1s;
}


.shop-action a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--tg-common-color-white);
    color: var(--tg-theme-primary);
    font-size: 15px;
    line-height: 0;
}

a {
    color: var(--tg-theme-primary);
    outline: none;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
}

.shop-action a:hover {
    background: var(--tg-theme-primary);
    color: var(--tg-common-color-white);
}


.shop-action li:nth-child(2) {
    transition-delay: 0.15s;
}

.shop-action li:nth-child(3) {
    transition-delay: 0.2s;
}

.shop-content {
    text-align: center;
}

.shop-content .shop-content-h3{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    font-family: var(--tg-heading-font-family);
    color: #161439;
    margin-top: 0px;
    line-height: var(--tg-heading-line-height);
}

.shop-content .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #F8BC24;
    gap: 3px;
    line-height: 1;
    margin: 0 0 10px;
}

.shop-content .rating .avg {
    color: var(--tg-body-color);
    font-size: 15px;
}

.shop-content .price {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
    color: var(--tg-theme-primary);
    
}

@media (max-width: 1199.98px) {
    .card {
        padding: 20px 20px 25px;
    }
}