<div class="product-card container my-5">
    <div class="row">
        <div class="shop-item col-lg-3 col-md-6 col-sm-12">
            <div class="shop-thumb">
                <a href="shop-details.html">
                    <img src="assets/Test img/shop_img07.jpg" class="img-fluid">
                </a>
                <ul class="shop-action">
                    <li><a href="shop-details.html"><i class="fa fa-shopping-cart"></i></a></li>
                    <li><a href="shop-details.html"><i class="fa fa-heart"></i></a></li>
                    <li><a href="shop-details.html"><i class="fa fa-eye"></i></a></li>
                </ul>
            </div>
            <div class="shop-content">
                <h3 class="title shop-content-h3"><a href="shop-details.html"
                        style="color: var(--tg-heading-color);">The Fashion Edits</a></h3>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span class="avg">(5.00)</span>
                </div>
                <h4 class="price">$39.00</h4>
            </div>
        </div>
    </div>

