<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Head content here -->
  </head>
  <body>
    <div class="container-fluid pt-5">
      <div class="row">
        <!-- Left Side Component -->
        <app-student-sidebar></app-student-sidebar>

        <!-- Right Side Component (Content) -->
        <div class="col-md-9">
          <app-student-content></app-student-content>
        </div>
      </div>
    </div>
    <!-- <app-create-course></app-create-course> -->
  </body>
</html>
