<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
  <!-- Feather Icons -->
  <link href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.css" rel="stylesheet" />
  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="row">
      @for (c of items; track c.id) {
      <div class="col-lg-3 col-md-6 col-sm-12 mb-5">
        <div class="card h-100">
          <img src="data:image/png;base64,{{c.img.fileContents}}" alt="Course Title" />
          <ul class="shop-action">
            <li style="cursor: pointer;"><a (click)="addToCart(c.id)"><i class="fa fa-shopping-cart"></i></a></li>
            <li style="cursor: pointer;"><a (click)="addToWishlist(c.id)"><i class="fa fa-heart"></i></a></li>
          </ul>
          <div class="card-body">
            <div class="d-flex justify-content-between mb-2">
              <span class="badge">{{c.category}}</span>
              <div class="text-warning">
                <i class="bi bi-star-fill"></i> {{c.rating}}
              </div>
            </div>
            <h5 class="card-title">{{c.title}}</h5>
            <p class="card-text text-muted">
              By <a href="" class="author-name">{{c.instructor}}</a>
            </p>
            <div class="course-info">
              <div class="me-3"><i class="bi bi-clock"></i> {{c.duration}}</div>
              <div class="me-3">
                <i class="bi bi-list-ol"></i> {{c.sectionsCount}}
              </div>
              <div class="text"><i class="bi bi-people-fill"></i> {{c.enrollmentCount}}</div>
            </div>
            <hr />
            <div class="d-flex align-items-center justify-content-between">
              <div class="btn-enroll">
                <button type="button" class="btn btn-primary border-0" routerLink="/courses/{{c.id}}">
                  Course Details
                </button>
              </div>
              <div class="price">
                <span class="text-decoration">{{c.price}}&#163;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>

    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage"
  (page)="pageChanged($event)" class="paginator-style"></mat-paginator>

  </div>
</body>

</html>