* {
    box-sizing: border-box;
}

.product-area {
    position: relative;
    margin: 9rem auto ;
}

.section__title .sub-title {
    display: inline-block;
    line-height: 1.62;
    background: var(--tg-common-color-gray-2);
    border-radius: 30px;
    padding: 3px 16px;
    font-weight: var(--tg-fw-medium);
    color: var(--tg-theme-primary);
    margin: 0 0 14px;
}


.section__title .title {
    font-size: 36px;
    line-height: 1.33;
    margin: 5px 0 0;
    letter-spacing: -0.75px;
    text-transform: capitalize;
    font-family: var(--tg-heading-font-family);
    color: var(--tg-heading-color);
    font-weight: var(--tg-fw-semi-bold);
    line-height: var(--tg-heading-line-height)
}



.section__title .title span {
    color: var(--tg-common-color-white);
    padding: 0 13px 0 20px;
    font-weight: var(--tg-fw-bold);
    display: inline-block;
    z-index: 1;
}

.section__title .title span svg {
    position: absolute;
    left: 0;
    top: -5px;
    width: 100%;
    height: 59px;
    z-index: -1;
    color: var(--tg-theme-secondary);
    vertical-align: middle;
}

.tg-button-wrap {
    display: flex;
}

.arrow-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s linear;
}

.btn {
    background: var(--tg-theme-primary) none repeat scroll 0 0;
    border: medium none;
    color: var(--tg-common-color-white);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: var(--tg-fw-semi-bold);
    font-family: var(--tg-heading-font-family);
    letter-spacing: 0;
    line-height: 1.12;
    margin-bottom: 0;
    padding: 16px 30px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.3s ease-out 0s;
    vertical-align: middle;
    border-radius: 50px;
    white-space: nowrap;
    box-shadow: 4px 6px 0px 0px var(--tg-common-color-blue);
    overflow: hidden;
}

.btn:hover {
    background: var(--tg-theme-secondary);
    color: var(--tg-heading-color);
    box-shadow: 0 0 0 0 var(--tg-common-color-blue);
}

@media (min-width: 768px) {
    .justify-content-md-end {
        justify-content: flex-end !important;
    }
}

.blog__post-item-four{
    margin-top: 3rem;
}


.card:hover.col-lg-3.col-md-6.col-sm-12{
    box-shadow: 7px 7px 0px #CAC9D6;
 }

.card {
    border: 1px solid #E8E8E8;
    border-radius: 6px;
    padding: 25px 25px 30px;
    margin-bottom: 2.5rem;
    background: var(--tg-common-color-white);
    transition: all 0.3s ease-out 0s;
    
}


.shop-thumb {
    position: relative;
    text-align: center;
    margin-bottom: 25px;
}


.shop-action {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    gap: 10px;
    margin: 0px;
    padding: 0px;
    list-style: none;

}

.card:hover .shop-action li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.shop-action li {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: visibility 0.3s ease-out 0.1s, opacity 0.3s ease-out 0.15s, transform 0.3s ease-out 0.1s;
}


.shop-action a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--tg-common-color-white);
    color: var(--tg-theme-primary);
    font-size: 15px;
    line-height: 0;
}

a {
    color: var(--tg-theme-primary);
    outline: none;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
}

.shop-action a:hover {
    background: var(--tg-theme-primary);
    color: var(--tg-common-color-white);
}


.shop-action li:nth-child(2) {
    transition-delay: 0.15s;
}

.shop-action li:nth-child(3) {
    transition-delay: 0.2s;
}

.shop-content {
    text-align: center;
}

.shop-content .shop-content-h3{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    font-family: var(--tg-heading-font-family);
    color: #161439;
    margin-top: 0px;
    line-height: var(--tg-heading-line-height);
}

.shop-content .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #F8BC24;
    gap: 3px;
    line-height: 1;
    margin: 0 0 10px;
}

.shop-content .rating .avg {
    color: var(--tg-body-color);
    font-size: 15px;
}

.shop-content .price {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
    color: var(--tg-theme-primary);
    
}

@media (max-width: 1199.98px) {
    .card {
        padding: 20px 20px 25px;
    }
}