<section class="product-area section-pt-120 section-pb-90">
    <div class="container">
        <div class="section__title-wrap">
            <div class="row align-items-center gap-4 gap-md-0">
                <div class="col-md-8">
                    <div class="section__title text-center text-md-start">
                        <span class="sub-title">Always Updated</span>
                        <h2 class="title">
                            Our Top
                            <span class="position-relative">
                                <svg x="0px" y="0px" preserveAspectRatio="none" viewBox="0 0 209 59" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M4.74438 7.70565C69.7006 -1.18799 136.097 -2.38304 203.934 4.1205C207.178 4.48495 209.422 7.14626 208.933 10.0534C206.793 23.6481 205.415 36.5704 204.801 48.8204C204.756 51.3291 202.246 53.5582 199.213 53.7955C136.093 59.7623 74.1922 60.5985 13.5091 56.3043C10.5653 56.0924 7.84371 53.7277 7.42158 51.0325C5.20725 38.2627 2.76333 25.6511 0.0898448 13.1978C-0.465589 10.5873 1.61173 8.1379 4.73327 7.70565"
                                        fill="currentcolor"></path>
                                </svg>
                                Products
                            </span>
                        </h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tg-button-wrap justify-content-center justify-content-md-end">
                        <a routerLink="/products" class="btn arrow-btn"><span class="text">See All Products</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog__post-item-four shine__animate-item row">
            @for (p of displayedProducts; track p.id) {
            <div class="shop-item col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="shop-thumb">
                        <a href="shop-details.html">
                            <img src="assets/img/{{p.img}}" class="img-fluid card-img ">
                        </a>
                        <ul class="shop-action">
                            <li style="cursor: pointer;"><a (click)="addToCart(p)"><i
                                        class="fa fa-shopping-cart"></i></a></li>
                            <li style="cursor: pointer;"><a (click)="addToWishlist(p)"><i class="fa fa-heart"></i></a>
                            </li>
                            <li><a routerLink="/products/{{p.id}}"><i class="fa fa-eye"></i></a></li>
                        </ul>
                    </div>
                    <div class="shop-content card-body ">
                        <h3 class="title shop-content-h3 card-title"><a href="shop-details.html"
                                style="color: var(--tg-heading-color);">{{p.title}}</a></h3>
                        <h3 class="title shop-content-h3 card-title"><a href="shop-details.html"
                                style="color: var(--tg-heading-color); font-size: 15px;">{{p.instructor}}</a></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span class="avg">({{p.rating}})</span>
                        </div>
                        <h4 class="price">{{p.price}}&#163;</h4>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>