<div class="container-fluid p-5">
  <!-- Contact Information Section -->
  <div class="row mb-3 justify-content-center">

    <div class="contact-item col-md-4 col-sm-6 mb-3 me-md-3 d-flex align-items-center">
      <div class="row align-items-center">
        <div class="col-auto">
          <i class="fa fa-phone mx-lg-4  mx-sm-0 icon"></i>
        </div>
        <div class="col">
          <h4><strong>Phone</strong></h4>
          <h6><a href="tel:+1-123-456-7890">+1-123-456-7890</a></h6>
        </div>
      </div>
    </div>

    <div class="contact-item col-md-4 col-sm-6 mb-3 ms-md-3 d-flex align-items-center">
      <div class="row align-items-center">
        <div class="col-auto ">
          <i class="fa fa-envelope mx-lg-4 mx-md-0 mx-sm-0 icon"></i>
        </div>
        <div class="col">
          <h4><strong>Email</strong></h4>
          <h6><a href="mailto:example@email.com">info&#64;email.com</a></h6>
        </div>
      </div>
    </div>

  </div>

  <!-- Contact Input Section -->
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-8 contact-input p-5">
      <h2>Send Us Message</h2>
      <p>Your email address will not be published.</p>
      <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm.value)">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="name" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="email" />
        </div>
        <div class="mb-3">
          <label for="comment" class="form-label">Comment</label>
          <textarea class="form-control mb-4" id="comment" name="comment" rows="3" [(ngModel)]="comment"></textarea>
        </div>
        <button type="submit" class="btn">Submit Now</button>
      </form>
    </div>
  </div>
</div>
