<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- <video #target class="video-js" controls autoplay playsinline preload="none" src="https://vod-progressive.akamaized.net/exp=1712000659~acl=%2Fvimeo-prod-skyfire-std-us%2F01%2F3035%2F8%2F215175080%2F742273044.mp4~hmac=1fc514cb88e97cb078e63ca612d23707a83ffb3f84e1dd4893344923cbc2250d/vimeo-prod-skyfire-std-us/01/3035/8/215175080/742273044.mp4" type='video/mp4' ></video> -->
  <div *ngIf="isLoading">
    <p>Loading course content...</p>
  </div>



  <!-- <div *ngIf="!isLoading && Course?.sectionsContent">
    <div *ngFor="let section of Course.sectionsContent; let i = index">
      <h2 (click)="toggleSection(i)" [class.active]="activeSectionIndex === i" style="cursor: pointer;">{{ section.title
        }}</h2>
      <ul class="video-list" *ngIf="activeSectionIndex === i">
        <li *ngFor="let video of section.contents; let i = index" [class.active]="video === selectedVideo"
          (click)="onVideoClick(video)">
          {{ video.title }}
        </li>
      </ul>
    </div>
  </div> -->



  <div class="courses-enroll-wrapper">

    @if (Course) {
    <div class="row">

      <div class="col-lg-8">
        <video #target class="video-js" controls muted autoplay playsinline preload="none" [src]="selectedSrc "
          type='video/mp4'>
          <source>
        </video>
      </div>

      <!-- Courses Video Playlist Start -->
      <div class="col-lg-4 p-0 m-0">
        <div *ngIf="!isLoading && Course?.sectionsContent">
          <div *ngFor="let section of Course.sectionsContent; let i = index">
            <div class="courses-video-playlist">
              <div class="playlist-title">
                <h3 class="title" (click)="toggleSection(i)" [class.active]="activeSectionIndex === i"
                  style="cursor: pointer;">{{ section.title}}</h3>
              </div>


              <div class="video-playlist">
                <div class="accordion" id="videoPlaylist">
                  <div class="accordion-item">
                    <ul class="video-list" *ngIf="activeSectionIndex === i">
                      <li *ngFor="let video of section.contents; let i = index" [class.active]="video === selectedVideo"
                        (click)="onVideoClick(video)">
                        <button class="collapsed" type="button" data-bs-toggle="collapse"
                          [attr.data-bs-target]="'#collapse' + section.id">
                          <p> {{ video.title }}</p>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
      <!-- Courses Video Playlist End -->
    </div>


    <div class="courses-enroll-content row px-4 mt-4">
      <div class="col-lg-8">

        <div class="courses-enroll-title mb-4">
          <h2 class="title">{{Course.title}}
          </h2>
        </div>

        <div class="product-desc-wrap .courses-enroll-content">
          <ul class="nav nav-tabs" id="myTab2" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                data-bs-target="#description-tab-pane" type="button" role="tab" aria-controls="description-tab-pane"
                aria-selected="true">Overview</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent2">
            <div class="tab-pane fade show active" id="description-tab-pane" role="tabpanel"
              aria-labelledby="description-tab" tabindex="0">
              <div class="overview">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="enroll-tab-title">
                      <h4 class="title">Course Details</h4>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="enroll-tab-content">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th>Instructor <span>:</span></th>
                            <td>{{Course.instructor}}</td>
                          </tr>
                          <tr>
                            <th>Duration <span>:</span></th>
                            <td>{{Course.duration}}</td>
                          </tr>
                          <tr>
                            <th>Lectures <span>:</span></th>
                            <td>{{Course.sectionsCount}}</td>
                          </tr>
                          <tr>
                            <th>Rating <span>:</span></th>
                            <td>{{Course.rating}}</td>
                          </tr>
                        </tbody>
                      </table>

                      <p>{{Course.description}}</p>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }

  </div>


</body>

</html>