* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.courses-enroll-wrapper{
    margin: 6rem auto;
}

@media only screen and (max-width: 575px) {
    .courses-video-player .vidcontainer {
        height: 340px;
    }
}

@media only screen and (max-width: 767px) {
    .courses-video-player .vidcontainer {
        height: 420px;
    }
}



.courses-enroll-content .courses-enroll-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.courses-enroll-content .courses-enroll-title .title {
    max-width: 760px;
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 10px;
    letter-spacing: -0.75px;
    font-family: var(--tg-heading-font-family);
    color: var(--tg-heading-color);
    font-weight: var(--tg-fw-semi-bold);
}

.enroll-tab-title .title {
    line-height: 1.5;
    margin-bottom: 0;
    letter-spacing: -0.75px;
    font-family: var(--tg-heading-font-family);
    color: var(--tg-heading-color);
    font-weight: var(--tg-fw-semi-bold);
}

.product-desc-wrap .nav-tabs {
    border-bottom: 2px solid #E6EAEF;
    gap: 30px;
    margin-bottom: 1.7rem;
}

.product-desc-wrap .nav-tabs .nav-link.active {
    color: var(--tg-theme-primary);
}

.product-desc-wrap .nav-tabs .nav-link {
    margin-bottom: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 0 5px 10px;
    font-weight: 500;
    font-size: 17px;
    font-family: var(--tg-heading-font-family);
    color: var(--tg-body-color);
    position: relative;
}

.product-desc-wrap .nav-tabs .nav-link.active::before {
    opacity: 1;
}

.product-desc-wrap .nav-tabs .nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: var(--tg-theme-primary);
    transition: 0.3s linear;
    opacity: 0;
}

.tab-content {
    position: relative;
}

.tab-content>.active {
    display: block;
}

.product-desc-wrap .tab-content p {
    margin-bottom: 0;
    font-family: var(--tg-body-font-family);
    font-size: 15px;
    line-height: var(--tg-body-line-height);
    font-weight: var(--tg-fw-regular);
    color: var(--tg-body-color);
}

.product-desc-review,
.overview {
    padding: 25px 30px;
    border: 1px solid #E6EAEF;
    border-radius: 5px;
}

.enroll-tab-content .table tbody tr th {
    width: 170px;
    border-color: rgba(48, 146, 85, 0.2);
    padding: 12px 30px;
    padding-right: 0;
    font-weight: 500;
    color: var(--tg-heading-color);
    white-space: nowrap;
    font-family: var(--tg-body-font-family);
}

.enroll-tab-content .table tbody tr td {
    border-color: rgba(48, 146, 85, 0.2);
    padding: 12px 30px;
    font-weight: 400;
    color: var(--tg-heading-color);
    font-family: var(--tg-body-font-family);

}


.courses-video-playlist {
    background-color: #eefbf3;
}

.courses-video-playlist {
    font-family: var(--tg-body-font-family);
}

.courses-video-playlist .playlist-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 30px 25px;
    background-color: var(--tg-common-color-dark);
    color: var(--tg-common-color-white);
}

.courses-video-playlist .playlist-title .title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 10px;
}

.courses-video-playlist .playlist-title span {
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    margin-top: 10px;
}

.accordion {
    --bs-accordion-color: #52565b;
    --bs-accordion-bg: #fff;
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-border-width: 1px;
    --bs-accordion-border-radius: 0.25rem;
    --bs-accordion-inner-border-radius: calc(0.25rem - 1px);
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: #52565b;
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-focus-border-color: #98c9aa;
    --bs-accordion-btn-focus-box-shadow: 0;
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: #2b834d;
    --bs-accordion-active-bg: #eaf4ee;
}


.courses-video-playlist .video-playlist .accordion-item {
    text-align: left;
    border: 0;
    margin-bottom: 0;
    background: none;
}

.accordion-item:first-of-type {
    border-top-left-radius: var(--bs-accordion-border-radius);
    border-top-right-radius: var(--bs-accordion-border-radius);
}

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

.courses-video-playlist .video-playlist .accordion-item button.collapsed {
    background-color: #eefbf3;
}

.courses-video-playlist .video-playlist .accordion-item button {
    border: 0;
    background: none;
    text-align: left;
    display: block;
    width: 100%;
    border-bottom: 1px solid #cde9d7;
    padding: 8px 30px;
    padding-right: 50px;
    background-color: #e0f1e7;
    position: relative;
    transition: all 0.3s ease 0s;
}

.courses-video-playlist .video-playlist .accordion-item button.collapsed:before {
    content: "\eab2";
    color: #212832;
}

.courses-video-playlist .video-playlist .accordion-item button:before {

    font-family: IcoFont;
    color: #309255;
    position: absolute;
    top: 8px;
    right: 30px;
    transition: all 0.3s ease 0s;
}

.courses-video-playlist .video-playlist .accordion-item button.collapsed p {
    color: #212832;
}

.courses-video-playlist .video-playlist .accordion-item button p {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    max-width: 420px;
    line-height: 1.8;
}

.courses-video-playlist .video-playlist .total-duration {
    font-size: 13px;
    font-weight: 400;
    color: #848886;
    margin-top: 6px;
    display: block;
}

.courses-video-playlist .video-playlist .vids a {
    display: block;
    padding: 8px 80px;
    padding-right: 30px;
    border-bottom: 1px solid #cde9d7;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

a,
button {
    transition: all 0.3s ease 0s;
    outline: 0;
}

a:hover {
    color: var(--bs-link-hover-color);
}



.courses-video-playlist .video-playlist .accordion-item button.collapsed:before {
    content: "\eab2";
    color: #212832;
}


.video-js {
    width: 100%;
    height: 500px;
}

.video-list {
    list-style: none;
    /* Remove default bullet points */
    padding: 0;
    margin: 0;
}

.video-list li {
    cursor: pointer;
    /* Indicate clickable elements */
    padding: 10px;
}

.video-list li.active {
    /* Customize the active link styles here */
    color: blue;
    /* Example: Change color to blue */
    font-weight: bold;
    /* Example: Make text bold */
}

h2.active {
    /* Style for active section */
    background-color: lightgray;
    /* Example: Add background color */
}