<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <video #target class="video-js" controls autoplay playsinline preload="none" src="https://vod-progressive.akamaized.net/exp=1712000659~acl=%2Fvimeo-prod-skyfire-std-us%2F01%2F3035%2F8%2F215175080%2F742273044.mp4~hmac=1fc514cb88e97cb078e63ca612d23707a83ffb3f84e1dd4893344923cbc2250d/vimeo-prod-skyfire-std-us/01/3035/8/215175080/742273044.mp4" type='video/mp4' ></video> -->
    <div *ngIf="isLoading">
      <p>Loading course content...</p>
    </div>
    
    <video #target class="video-js" controls autoplay playsinline preload="none" [src]="selectedVideo?.url" type='video/mp4'></video>
    
    <div *ngIf="!isLoading && Course?.sectionsContent">
      <div *ngFor="let section of Course.sectionsContent; let i = index">
        <h2 (click)="toggleSection(i)" [class.active]="activeSectionIndex === i" style="cursor: pointer;">{{ section.title }}</h2>
        <ul class="video-list" *ngIf="activeSectionIndex === i">
          <li *ngFor="let video of section.contents; let i = index"
              [class.active]="video === selectedVideo"
              (click)="onVideoClick(video)">
            {{ video.title }}
          </li>
        </ul>
      </div>
    </div>
    

</body>

</html>