@import "aos/dist/aos.css";

.container-fluid{
    margin-top: 6rem;
}

body {
    font-family: var(--tg-heading-font-family);
    line-height: 26px;
    margin: 0;
    padding: 0;
    background-color: var(--tg-common-color-gray);
}


@media (max-width: 1500px) {
    .breadcrumb__bg {
        padding: 100px 0;
    }
}

.breadcrumb__bg {
    background-image: url(../../../assets/img/breadcrumb_bg.jpg);

    background-size: cover;
    background-position: center;
    padding: 107px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
}


.breadcrumb__content .title {
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 1.2;
    font-family: var(--tg-heading-font-family);
    color: var(--tg-heading-color);
    margin-top: 0px;
    font-weight: var(--tg-fw-semi-bold);
}


.breadcrumb__content .breadcrumb {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    gap: 10px;
}
.breadcrumb {
    --bs-breadcrumb-padding-x: 0;
    --bs-breadcrumb-padding-y: 0;
    --bs-breadcrumb-margin-bottom: 1rem;
    --bs-breadcrumb-bg: ;
    --bs-breadcrumb-border-radius: ;
    --bs-breadcrumb-divider-color: var(--bs-secondary-color);
    --bs-breadcrumb-item-padding-x: 0.5rem;
    --bs-breadcrumb-item-active-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
    margin-bottom: var(--bs-breadcrumb-margin-bottom);
    font-size: var(--bs-breadcrumb-font-size);
    list-style: none;
    background-color: var(--bs-breadcrumb-bg);
    border-radius: var(--bs-breadcrumb-border-radius);
}

.breadcrumb__content .breadcrumb>* {
    font-size: 16px;
    color: var(--tg-theme-primary);
}


.breadcrumb__content .breadcrumb>* a {
    color: var(--tg-common-color-dark);
    transition: all 0.3s ease-out 0s;
    outline: none;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
}

.breadcrumb__content .breadcrumb .breadcrumb-separator {
    line-height: 1;
    font-size: 16px;
    margin-top: 1px;
    font-weight: 700;
    margin-top: 2px;
    opacity: 0.5;
    color: var(--tg-common-color-gray-3);
}


.breadcrumb__content .breadcrumb>* {
    font-size: 16px;
    color: var(--tg-theme-primary);
}


@media (max-width: 1500px) {
    .breadcrumb__shape-wrap img:nth-child(1) {
        left: 69px;
        top: 52px;
    }
}

.breadcrumb__shape-wrap img:nth-child(1) {
    left: 100px;
    top: 62px;
}

.breadcrumb__shape-wrap img {
    position: absolute;
    z-index: -1;
}



@media (max-width: 1500px) {
    .breadcrumb__shape-wrap img:nth-child(2) {
        right: 38%;
    }
}

.breadcrumb__shape-wrap img:nth-child(2) {
    right: 32%;
    top: 21%;
}

@media (max-width: 1500px) {
    .breadcrumb__shape-wrap img:nth-child(3) {
        right: 23%;
        bottom: 13%;
    }
}

.breadcrumb__shape-wrap img:nth-child(3) {
    right: 20%;
    bottom: 15%;
}

.breadcrumb__shape-wrap img:nth-child(4) {
    right: 8%;
    top: 8%;
}

@media (max-width: 1199.98px) {
    .breadcrumb__shape-wrap img:nth-child(5) {
        right: -30px;
        width: 400px;
        height: 285px;
    }
}

.breadcrumb__shape-wrap img:nth-child(5) {
    right: 0;
    top: 0;
}

.alltuchtopdown {
    animation: alltuchtopdown 1.5s ease-in-out 0s infinite alternate;
    animation-duration: 3s;
}

@keyframes alltuchtopdown {
    0% {
        
        transform: rotateX(0deg) translateY(0px);
    }
    50% {
        transform: rotateX(0deg) translateY(-20px);
    }
    100% {
        transform: rotateX(0deg) translateY(0px);
    }
    
}

.breadcrumb__shape-wrap img{
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}


.learning-journey {
    background-color: var(--tg-common-color-gray);
    font-family: var(--tg-heading-font-family);
    padding-left: 0;
    padding-right: 0;
    margin: 7rem auto;
}

.learning-journey h2,
h4 {
    line-height: 1.33;
    margin: 0 0;
    letter-spacing: -0.75px;
    font-family: var(--tg-heading-font-family);
    color: var(--tg-heading-color);
    font-weight: var(--tg-fw-semi-bold);
}

.base-header p {
    font-family: var(--tg-body-font-family);
    font-size: var(--tg-body-font-size);
    line-height: var(--tg-body-line-height);
    font-weight: var(--tg-fw-regular);
    color: var(--tg-common-color-gray-3);
}

.workflow_item i {
    font-size: 32px;
    width: 74px;
    height: 68px;
    color: #fff;
    text-align: center;
    line-height: 68px;
    border-radius: 8px;
    transition: .4s;
    margin: auto;
}

.card {
    border-radius: 20px;
    padding: 40px 40px 40px 50px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out 0s;
}

.card1 {
    border: 1px solid #C9E4E9;
    background: #F1FDFF;
    box-shadow: 8px 8px 0px 0px #C9E4E9;

}

.card1 i {
    background: #1BCBE3;
}

.card2 {
    border: 1px solid #C8C1ED;
    background: #EDEAFF;
    box-shadow: 8px 8px 0px 0px #D9D5F1;

}

.card2 i {
    background: #5751E1;
}

.card3 {
    border: 1px solid #EBE0C4;
    background: #FFF7E2;
    box-shadow: 8px 8px 0px 0px #E5DECB;
}

.card3 i {
    background: #FFC224;
}

.card:hover {
    box-shadow: none !important;
}

.container-fluid,
.row {
    padding-left: 0;
    padding-right: 0;
}


.platform-highlights h2 {
    line-height: 1.33;
    margin: 0 0;
    letter-spacing: -0.75px;
    font-family: var(--tg-heading-font-family);
    color: var(--tg-heading-color);
    font-weight: var(--tg-fw-semi-bold);
}

.platform-highlights p {
    font-family: var(--tg-body-font-family);
    font-size: var(--tg-body-font-size);
    line-height: var(--tg-body-line-height);
    font-weight: var(--tg-fw-regular);
    color: var(--tg-body-color);
}

.list-wrap {
    list-style: none;
}

.about__info-list-item {
    display: flex;
    align-items: flex-start;
    gap: 13px;
}

.about__info-list-item i {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 30px;
    background: var(--tg-theme-secondary);
    border: 1px solid #282568;
    border-radius: 50%;
    box-shadow: 4px 3px 0px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-out 0s;
    color: var(--tg-heading-color);
}

.about__info-list-item i:hover {
    box-shadow: none !important;
}

.about__info-list-item p {
    font-family: var(--tg-heading-font-family);
    color: var(--tg-heading-color);
    font-size: 18px;
    font-weight: var(--tg-fw-semi-bold);
    margin: 0 0;
}


.more-link {
    background: var(--tg-theme-primary) none repeat scroll 0 0;
    border: medium none;
    color: var(--tg-common-color-white);
    cursor: pointer;
    font-size: 16px;
    font-weight: var(--tg-fw-semi-bold);
    font-family: var(--tg-heading-font-family);
    letter-spacing: 0;
    line-height: 1.12;
    margin-bottom: 0;
    padding: 16px 30px;
    text-align: center;
    text-transform: capitalize;
    transition: all 0.3s ease-out 0s;
    vertical-align: middle;
    border-radius: 50px;
    white-space: nowrap;
    box-shadow: 4px 6px 0px 0px var(--tg-common-color-blue);
    overflow: hidden;
}

.more-link:hover {
    background: var(--tg-theme-secondary);
    color: var(--tg-heading-color);
    box-shadow: 0 0 0 0 var(--tg-common-color-blue);
}

.funfacts-section {
    background: var(--tg-common-color-blue-2);
    padding: 7rem 0px;
}

.funfacts-section .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.funfacts-section .row {
    display: flex;
    flex-wrap: wrap;

}

.funfacts_item {
    background: #fff;
    text-align: center;
    padding: 30px 10px 26px;
    border-radius: 10px;
    box-shadow: 8px 8px 0px 0px var(--tg-common-color-indigo);
    transition: all 0.3s ease-out 0s;
}

.funfacts_item:hover {
    box-shadow: none !important;

}

.funfacts_item h1 {
    line-height: 1.33;
    margin: 0 0;
    letter-spacing: -0.75px;
    font-family: var(--tg-heading-font-family);

}

.funfacts_item h2 {
    line-height: 45px;
    font-family: var(--tg-span-font-family);
    color: var(--tg-heading-color);
    font-weight: var(--tg-fw-semi-bold);
}

.funfacts_item span {
    margin: 0;
    font-family: var(--tg-body-font-family);
    font-size: var(--tg-body-font-size);
    line-height: var(--tg-body-line-height);
    font-weight: var(--tg-fw-regular);
    color: var(--tg-body-color);
}


.join-us {
    background-color: var(--tg-common-color-gray);
    border-radius: 12px;
    margin: 10rem auto;

}

.cta_wrap {
    /* display: grid;
    grid-template-columns: 1fr auto; */
    align-items: center;
    padding: 2rem 3rem;
}

.cta_text h2 {
    line-height: 1.33;
    margin: 0 0;
    letter-spacing: -0.75px;
    font-family: var(--tg-heading-font-family);
    color: var(--tg-heading-color);
    font-weight: var(--tg-fw-semi-bold);
}

.cta_text p {
    font-family: var(--tg-body-font-family);
    font-size: var(--tg-body-font-size);
    line-height: var(--tg-body-line-height);
    font-weight: var(--tg-fw-regular);
    color: var(--tg-common-color-gray-3);
}

.btn2 {
    background: var(--tg-theme-secondary) none repeat scroll 0 0;
    color: var(--tg-heading-color);
}

.btn2:hover {
    background: var(--tg-theme-primary);
    color: var(--tg-common-color-white);
}