<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
  <div class="container">
    <h3>Create Your Account</h3>
    <p>
      Hey there! Ready to join the party? We just need a few details from you
      to get started. Let's do this!
    </p>

    <!-- <div class="social-container">
        <a href="#" class="social-btn btn-google"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M20.16 12.1932C20.16 11.5905 20.1059 11.011 20.0055 10.4546H12V13.7425H16.5746C16.3775 14.8051 15.7786 15.7053 14.8784 16.308V18.4407H17.6255C19.2327 16.961 20.16 14.7819 20.16 12.1932Z"
              fill="#4285F4"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12.0002 20.5C14.2952 20.5 16.2193 19.7389 17.6257 18.4407L14.8786 16.3079C14.1175 16.8179 13.1439 17.1193 12.0002 17.1193C9.78635 17.1193 7.91248 15.6241 7.24407 13.615H4.4043V15.8173C5.80294 18.5952 8.67749 20.5 12.0002 20.5Z"
              fill="#34A853"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.24387 13.6151C7.07387 13.1051 6.97728 12.5604 6.97728 12.0001C6.97728 11.4399 7.07387 10.8951 7.24387 10.3851V8.18286H4.40409C3.82841 9.33036 3.5 10.6285 3.5 12.0001C3.5 13.3717 3.82841 14.6699 4.40409 15.8174L7.24387 13.6151Z"
              fill="#FBBC05"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12.0002 6.88069C13.2482 6.88069 14.3686 7.30955 15.2495 8.15183L17.6875 5.71387C16.2155 4.34227 14.2914 3.5 12.0002 3.5C8.67748 3.5 5.80294 5.40478 4.4043 8.18273L7.24407 10.385C7.91248 8.37592 9.78635 6.88069 12.0002 6.88069Z"
              fill="#EA4335"
            />
          </svg>
          Continue with Google
        </a>
        <hr />
      </div> -->

    <form [formGroup]="signupForm">
      <div class="fullName">
        <div class="form-group">
          <div class="row FullName">
            <div class="form-group col-6">
              <label for="firstName">First Name</label>
              <input #first_name type="text" class="form-control" id="firstName" formControlName="firstName"
                placeholder="Enter First Name" />
              @if (!isValidFirstName) {
              <div class="mb-2">
                <span class="text-danger">First name is required</span>
                <br>
                <span class="text-danger">
                  Must be more than 3 char
                </span>
              </div>
              }
            </div>
            <div class="form-group col-6">
              <label for="lastName">Last Name</label>
              <input #last_name type="text" class="form-control" id="lastName" formControlName="lastName"
                placeholder="Enter Last Name" />
              @if (!isValidLastName) {
              <div class="mb-2">
                <span class="text-danger">Last name is required</span>
                <br>
                <span class="text-danger">
                  Must be more than 3 char
                </span>
              </div>
              }
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input #email type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email" />
        @if (!isValidEmail) {
        <div class="mb-2">
          <span class="text-danger">Email is required and must be in a valid format</span>

        </div>
        }
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input #password type="password" class="form-control" id="password" formControlName="password"
          placeholder="Password" />
        @if (!isValidPassword) {
        <div class="mb-2">
          <span class="text-danger ">Password is required</span>
          <br>
          <span class="text-danger ">Must be at least 8 characters</span>
          <br>
          <span class="text-danger ">Must Contain at least upper ,lower char</span>
          <br>

          <span class="text-danger ">Must Contain at least number,special char</span>

        </div>
        }
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
          placeholder="Confirm Password" />
        @if (!isValidConfirmPassword) {
        <div class="mb-2">
          <span class="text-danger ">Password Not Match</span>
        </div>
        }
      </div>
      <button type="button" value="Sign Up" class="btn btn-primary" (click)="validateAndSubmit()">
        Sign Up
      </button>
    </form>

    <div class="signin-link">
      Already Have an account? <a routerLink="/login">Sign In</a>
    </div>
  </div>
</body>

</html>