/* Header styles */

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    /* background-color: var(--tg-common-color-white); */
}



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 13vh;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 15px 40px;
    background-color: var(--tg-common-color-white);
    font-weight: var(--tg-fw-medium);
    transition: box-shadow 0.3s ease;
}



@media (max-width: 767.98px) {
    .navbar {
        width: 100%;
        padding: 0
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar {
        width: 100%;
    }
}


.navbar.shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}


.nav-link:hover {
    color: var(--tg-theme-primary);
}

.navbar-icons {
    display: flex;
    align-items: center;

}

.navbar-icons i {
    font-size: var(--tg-fw-semi-bold);
    padding: 30px;
    border: 2px solid var(--tg-border-3);
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    transition: all 0.3s ease;

}

.badge {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: var(--tg-common-color-yellow);
    color: var(--tg-common-color-black-3);
    padding: 5px 5px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: var(--tg-fw-medium);
}

.dropdown-menu {
    min-width: auto;
}

.dropdown-menu button:hover {
    transform: scale(1.05);
    color: var(--tg-theme-primary);
}

.dropdown-menu .dropdown-item {
    transition: all 0.3s ease;
}

.dropdown-menu .dropdown-item:hover {
    transform: scale(1.05);
    color: var(--tg-theme-primary);
}



.input-group-text {
    border-radius: 50%;
    transition: all 0.3s ease;
    background-color: var(--tg-theme-primary);
    color: var(--tg-common-color-white);
}

.input-group-text:hover {
    background-color: var(--tg-common-color-yellow);
    color: var(--tg-common-color-black-3);
}

.form-control {
    border-radius: 20px;
}

.instructor-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link i {
    border: 1px solid transparent;
    border-radius: 50%;
    border-color: var(--tg-common-color-gray-3);
    padding: 6px 10px;
    transition: all 0.3s ease;
    color: var(--tg-common-color-gray-3);
    ;
    font-size: var(--tg-fw-semi-bold);
    margin-right: 10px;
    font-size: 20px;
}

.nav-link i:hover {
    background-color: var(--tg-theme-primary);
    color: var(--tg-common-color-white);
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-auth  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

#btn-login{
    background-color: var(--tg-theme-secondary);
        color: var(--tg-common-color-black-3);
        font-weight: var(--tg-fw-medium);
        border: none;
        border-radius: 50px;
        padding: 10px 20px;
        cursor: pointer;
        width: 100%;
        transition: all 0.3s ease-out 0s;
        box-shadow: 4px 4px 0px 0px #3D3D3D;
}

#btn-login:hover {
    background-color: var(--tg-theme-primary);
    box-shadow: 0 0 0 0 var(--tg-common-color-blue);
    color: white;
}

#btn-Register{
    background-color: var(--tg-theme-primary);
        color: white;
        font-weight: var(--tg-fw-medium);
        border: none;
        border-radius: 50px;
        padding: 10px 20px;
        cursor: pointer;
        width: 100%;
        transition: all 0.3s ease-out 0s;
        box-shadow: 4px 4px 0px 0px #3D3D3D;
}

#btn-Register:hover {
    background-color: var(--tg-theme-secondary);
    box-shadow: 0 0 0 0 var(--tg-common-color-blue);
    color: var(--tg-common-color-black-3);
}

