<div class="card instructor-card">
  <div class="card-body">
    <div class="instructor-info">
      <img
        src="assets/img/course_thumb01.jpg"
        class="instructor-img"
        alt="Instructor Image"
      />
      <div class="instructor-details">
        <h5 class="card-title">{{ user.user }}</h5>
      </div>
    </div>
    <button class="create-btn" routerLink="/createCourse">Create Course</button>
    <!-- Social Media Icons -->
  </div>
</div>
<!-- Tab Switching Sidebar -->
<ul class="nav nav-tabs flex-column sidebar" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="content-tab"
      data-bs-toggle="tab"
      data-bs-target="#content"
      type="button"
      role="tab"
      aria-controls="content"
      aria-selected="true"
    >
      Courses
    </button>
  </li>
</ul>
