<section class="fact-area fact-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-7 col-md-9 mb-5">
                <div class="section__title text-center mb-50">
                    <span class="sub-title">Worldwide Our Achievement</span>
                    <h2 class="title">
                        Grow You
                        <span class="position-relative">
                            <svg x="0px" y="0px" preserveAspectRatio="none" viewBox="0 0 209 59" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4.74438 7.70565C69.7006 -1.18799 136.097 -2.38304 203.934 4.1205C207.178 4.48495 209.422 7.14626 208.933 10.0534C206.793 23.6481 205.415 36.5704 204.801 48.8204C204.756 51.3291 202.246 53.5582 199.213 53.7955C136.093 59.7623 74.1922 60.5985 13.5091 56.3043C10.5653 56.0924 7.84371 53.7277 7.42158 51.0325C5.20725 38.2627 2.76333 25.6511 0.0898448 13.1978C-0.465589 10.5873 1.61173 8.1379 4.73327 7.70565"
                                    fill="currentcolor"></path>
                            </svg>
                            Skills

                        </span>
                        To Advance Your Career path
                    </h2>
                </div>
            </div>
        </div>
       
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="fact__item-two text-center" data-aos="fade-down" data-aos-delay="200" data-aos-duration="900" >
                    <div class="fact__icon-two">
                        <img src="assets/Test img/webinar.png" class="img-fluid w-25">
                    </div>
                    <div class="fact__content-two">
                        <h3 class="count" data-aos="zoom-in" data-aos-delay="300" data-aos-easing="ease-in-back">
                            10000
                        </h3>
                        <p>Students Enrolled</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="fact__item-two text-center" data-aos="fade-up" data-aos-delay="200" data-aos-duration="900" >
                    <div class="fact__icon-two">
                        <img src="assets/img/graduation.png" class="img-fluid w-25">

                    </div>
                    <div class="fact__content-two">
                        <h3 class="count" data-aos="zoom-in" data-aos-delay="300" data-aos-easing="ease-in-back">
                           8500
                        </h3>
                        <p>Top Graduates</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="fact__item-two text-center" data-aos="fade-down" data-aos-delay="200" data-aos-duration="900">
                    <div class="fact__icon-two">
                        <img src="assets/img/countries.png" class="img-fluid w-25">
                    </div>
                    <div class="fact__content-two">
                        <h3 class="count" data-aos="zoom-in" data-aos-delay="300" data-aos-easing="ease-in-back">
                            195
                        </h3>
                        <p>World Countries</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="fact__item-two text-center" data-aos="fade-up" data-aos-delay="200" data-aos-duration="900">
                    <div class="fact__icon-two">
                        <img src="assets/img/trophy.png" class="img-fluid w-25">
                    </div>
                    <div class="fact__content-two">
                        <h3 class="count" data-aos="zoom-in" data-aos-delay="300" data-aos-easing="ease-in-back">
                            49
                        </h3>
                        <p>Received Awards</p>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</section>