<div class="container shop-details-top">
    <div class="row">
        <div class="col-lg-6">
            <div class="shop-details-images-wrap">
                <div class="myTabContent">
                    <div class="show active" id="home-tab-pane">
                        <a routerLink="/" href="assets/Test img/shop_details01.jpg" class="popup-image">
                            <img src="assets/Test img/shop_details01.jpg" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="shop-details-content">
                <h2 class="card-header">SEO Tricks &amp; Tips</h2>
                <div class="product-review">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <span>( Reviews 5.0 )</span>
                </div>
                <h3 class="price">$13.00</h3>
                <p class="card-text">Grursus mal suada faci lisis Lorem ipsum dolarorit more ametion consectetur Vesti
                    at bulum nec odio
                    aea the dumm summ ipsum that dolocons rsus mal suada and fadolorit to the consectetur elit.</p>
                <div class="shop-details-qty">
                    <div class="cart-plus-minus ">
                        <input type="text" value="1">
                        <div class="dec qtybutton">-</div>
                        <div class="inc qtybutton">+</div>
                    </div>
                    <a routerLink="/" href="shop-details.html" class="cart-btn btn">Add To Cart</a>
                    <a routerLink="/" href="shop-details.html" class="wishlist-btn"><i class="fa fa-heart-o"></i></a>
                </div>
                <div class="shop-details-bottom">
                    <ul class="list-wrap">
                        <li class="sd-category">
                            <span class="title">Categories:</span>
                            <a routerLink="/" href="shop-details.html">Business &amp; Marketing</a>
                        </li>
                        <li class="sd-share">
                            <span class="title">Share This Product:</span>
                            <a routerLink="/" href="#"><i class="fa fa-facebook-f"></i></a>
                            <a routerLink="/" href="#"><i class="fa fa-twitter"></i></a>
                            <a routerLink="/" href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container shop-details-middle">
    <div class="row">
        <div class="col-12">
            <div class="product-desc-wrap">
                <ul class="nav nav-tabs" id="myTab2" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="description-tab" data-bs-toggle="tab"
                            data-bs-target="#description-tab-pane" type="button" role="tab"
                            aria-controls="description-tab-pane" aria-selected="true">Description</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="reviews-tab" data-bs-toggle="tab"
                            data-bs-target="#reviews-tab-pane" type="button" role="tab" aria-controls="reviews-tab-pane"
                            aria-selected="false" tabindex="-1">Reviews</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent2">
                    <div class="tab-pane fade show active" id="description-tab-pane" role="tabpanel"
                        aria-labelledby="description-tab" tabindex="0">
                        <p>Grursus mal suada faci lisis Lorem ipsum dolarorit more ametion consectetur elit. Vesti at
                            bulum nec odio aea the dumm summ ipsum that dolocons rsus mal suada and fadolorit to the
                            consectetur elit. y to follow tutorials, Exercises, and solutions. This course does start
                            from the beginning with very little knowledge and gives a great overview of common tools
                            used for data science and progresses into more.</p>
                    </div>
                    <div class="tab-pane fade" id="reviews-tab-pane" role="tabpanel" aria-labelledby="reviews-tab"
                        tabindex="0">
                        <div class="product-desc-review">
                            <div class="product-desc-review-title mb-15">
                                <h5 class="title">Customer Reviews (0)</h5>
                            </div>
                            <div class="left-rc">
                                <p>No reviews yet</p>
                            </div>
                            <div class="right-rc">
                                <a href="#">Write a review</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="related-product-area container shop-details-bottom">
    <div class="section__title mb-40">
        <h2 class="title">
            Related
            <span class="position-relative">
                <svg x="0px" y="0px" preserveAspectRatio="none" viewBox="0 0 209 59" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4.74438 7.70565C69.7006 -1.18799 136.097 -2.38304 203.934 4.1205C207.178 4.48495 209.422 7.14626 208.933 10.0534C206.793 23.6481 205.415 36.5704 204.801 48.8204C204.756 51.3291 202.246 53.5582 199.213 53.7955C136.093 59.7623 74.1922 60.5985 13.5091 56.3043C10.5653 56.0924 7.84371 53.7277 7.42158 51.0325C5.20725 38.2627 2.76333 25.6511 0.0898448 13.1978C-0.465589 10.5873 1.61173 8.1379 4.73327 7.70565"
                        fill="currentcolor"></path>
                </svg>
                products
            </span>
        </h2>
    </div>
    <div class="row">
        <div class="shop-item mb-4 col-lg-3 col-md-6 col-sm-12">
            <div class="shop-thumb">
                <a href="shop-details.html">
                    <img src="assets/Test img/shop_img07.jpg" class="img-fluid">
                </a>
                <ul class="shop-action">
                    <li><a href="shop-details.html"><i class="fa fa-shopping-cart"></i></a></li>
                    <li><a href="shop-details.html"><i class="fa fa-heart-o"></i></a></li>
                    <li><a href="shop-details.html"><i class="fa fa-eye"></i></a></li>
                </ul>
            </div>
            <div class="shop-content">
                <h3 class="title shop-content-h3"><a href="shop-details.html"
                        style="color: var(--tg-heading-color);">The Fashion Edits</a></h3>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span class="avg">(5.00)</span>
                </div>
                <h4 class="price">$39.00</h4>
            </div>
        </div>
        
    </div>
</div>