<!-- Footer -->
<footer class="text-center footerTop text-light">
  <!-- Grid container -->
  <div class="container p-4">
    <div class="mb-4 mt-3 row">
      <!-- section: logo -->
      <section class="mb-4 col-lg-6 text-lg-start">
        <a href="#!">
          <img
            src="https://themegenix.com/demo/skillgro/assets/img/logo/secondary_logo.svg"
            alt=""
          />
        </a>
      </section>
      <!-- section: logo -->

      <!-- Section: Social media -->
      <section class="mb-4 col-lg-6 text-lg-end">
        <a class="btn btn-outline-light footer-icon m-1" href="#!">
          <i class="fa fa-instagram"></i>
        </a>

        <a class="btn btn-outline-light footer-icon m-1" href="#!">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="btn btn-outline-light footer-icon m-1" href="#!">
          <i class="fa fa-facebook"></i>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>

    <!-- Section: Form -->
    <div>
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-lg-auto col-md-6 col-12 mb-md-0 mb-4">
              <h6 class="pt-2">Get In Touch With Us</h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-5 col-md-6 col-12 mb-md-0 mb-4">
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  type="email"
                  id="form5Example24"
                  class="form-control"
                  placeholder="Enter Your Email Address..."
                />
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-warning fw-bold mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
    </div>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-5">
      <p class="footer-text">
        Empowering Students To Reach Their Potential Goal For Next Level
        Challenge. Start Your Learning Journey Today! <br />
        Learn New Skills When And Where You Like On Our Website.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="footer-Links-Wrapper text-start ms-5">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h4 class="text-capitalize footer-widget">educational stages</h4>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="footerLink" href="#!">First Grade</a>
            </li>
            <li>
              <a class="footerLink" href="#!">Second Grade</a>
            </li>
            <li>
              <a class="footerLink" href="#!">Third Grade</a>
            </li>
            <li>
              <a class="footerLink" href="#!">Fourth Grade</a>
            </li>
            <li>
              <a class="footerLink" href="#!">Fifth Grade</a>
            </li>
            <li>
              <a class="footerLink" href="#!">Sixth Grade</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h4 class="text-capitalize footer-widget">Categories</h4>
          <ul class="list-unstyled mb-0">
            <li>
              <a class="footerLink" href="#!">Category 1</a>
            </li>
            <li>
              <a class="footerLink" href="#!">Category 2</a>
            </li>
            <li>
              <a class="footerLink" href="#!">Category 3</a>
            </li>
            <!-- <li>
              <a class="footerLink" href="#!">Category 4</a>
            </li> -->
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h4 class="text-capitalize footer-widget">Our Company</h4>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="footerLink" href="#!">First Grade</a>
            </li>
            <li>
              <a class="footerLink" href="#!">Second Grade</a>
            </li>
            <li>
              <a class="footerLink" href="#!">Third Grade</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h4 class="text-capitalize footer-widget">quick links</h4>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="footerLink" href="#!">First Grade</a>
            </li>
            <li>
              <a class="footerLink" href="#!">Second Grade</a>
            </li>
            <li>
              <a class="footerLink" href="#!">Third Grade</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="p-4 copyright text-light">
    <div class="row">
      <div class="col-md-6 text-md-start ms-5">
        <a href="#" class="footerLink">Terms of Service | </a>
        <a href="#" class="footerLink">Privacy Policy | </a>
        <a href="#" class="footerLink">Sitemap | </a>
        <a href="#" class="footerLink">Security</a>
      </div>
      <div class="col-md-5 text-md-end ms-4">
        <span class="footer-text"
          >© 2024 Made with by Great Frontend iTi Team</span
        >
      </div>
    </div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
