<!-- Footer -->
<footer class="bg-body-tertiary text-center">
  <!-- Grid container -->
  <div class="container p-4">

    <div class="footerTop mb-4 mt-2 row">
      <!-- section: logo -->
      <section class="mb-4 col-lg-6 text-lg-start">
        <img src="https://themegenix.com/demo/skillgro/assets/img/logo/secondary_logo.svg" alt="">
      </section>
      <!-- section: logo -->
    
      <!-- Section: Social media -->
      <section class="mb-4 col-lg-6 text-lg-end">
        <a class="btn btn-outline-primary m-1" href="#!">
          <i class="fa fa-github"></i>
        </a>
    
        <a class="btn btn-outline-primary m-1" href="#!">
          <i class="fa fa-linkedin"></i>
        </a>
    
        <a class="btn btn-outline-primary m-1" href="#!">
          <i class="fa fa-instagram"></i>
        </a>
    
        <a class="btn btn-outline-primary m-1" href="#!">
          <i class="fa fa-google"></i>
        </a>
    
        <a class="btn btn-outline-primary m-1" href="#!">
          <i class="fa fa-twitter"></i>
        </a>
    
        <a class="btn btn-outline-primary m-1" href="#!">
          <i class="fa fa-facebook"></i>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    
    <!-- Section: Form -->
    <div>
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-lg-auto col-md-6 col-12 mb-md-0 mb-4">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-5 col-md-6 col-12 mb-md-0 mb-4">
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form5Example24" class="form-control" placeholder="Email address here" />
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-primary mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->
        </form>
      </section>
    </div>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio
        earum repellat quaerat voluptatibus placeat nam, commodi optio pariatur
        est quia magnam eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Categories</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body" href="#!">Category 1</a>
            </li>
            <li>
              <a class="text-body" href="#!">Category 2</a>
            </li>
            <li>
              <a class="text-body" href="#!">Category 3</a>
            </li>
            <li>
              <a class="text-body" href="#!">Category 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Primary School</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body" href="#!">First Grade</a>
            </li>
            <li>
              <a class="text-body" href="#!">Second Grade</a>
            </li>
            <li>
              <a class="text-body" href="#!">Third Grade</a>
            </li>
            <li>
              <a class="text-body" href="#!">Fourth Grade</a>
            </li>
            <li>
              <a class="text-body" href="#!">Fifth Grade</a>
            </li>
            <li>
              <a class="text-body" href="#!">Sixth Grade</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Middle School</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body" href="#!">First Grade</a>
            </li>
            <li>
              <a class="text-body" href="#!">Second Grade</a>
            </li>
            <li>
              <a class="text-body" href="#!">Third Grade</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Secondary School</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body" href="#!">First Grade</a>
            </li>
            <li>
              <a class="text-body" href="#!">Second Grade</a>
            </li>
            <li>
              <a class="text-body" href="#!">Third Grade</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    <div class="row">
      <div class="col-md-6 text-md-start ms-5 ">
        <a href="#">Terms of Service * </a>
        <a href="#">Privacy Policy * </a>
        <a href="#">Sitemap * </a>
        <a href="#">Security</a>
      </div>
      <div class="col-md-5 text-md-end ms-4">
        <span>© 2021 EUL Made with by Great Frontend Team</span>
      </div>
    </div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
