body {
    margin: 0;
    padding: 0;
    font-family: var(--tg-heading-font-family);
}

.footerTop {
    background-color: var(--tg-common-color-black);
}

.footer-icon:hover {
    background-color: var(--tg-theme-secondary);
    border-color: var(--tg-common-color-black);
}

.footer-widget {
    position: relative;
    display: inline-block;
    margin-bottom: 2.1rem;
}

.footer-widget::before {
    content: "";
    position: absolute;
    bottom: -1.2rem;
    left: 0;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background: var(--tg-theme-primary);
}

.footer-text,
.footerLink {
    color: var(--tg-common-color-gray-5);
}

li {
    margin-bottom: 7px;
}


.footerLink {
    text-decoration: none;
    position: relative;
    transition: color 0.4s;
}

.footerLink:hover {
    color: var(--tg-theme-secondary);
}

.footerLink::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -2px;
    background-color: var(--tg-theme-secondary);
    transition: width 0.4s;
}

.footerLink:hover::before {
    width: 100%;
}

.copyright {
    background-color: var(--tg-common-color-dark);
}