<section class="blog__post-area blog__post-area-two">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 mb-5">
                <div class="section__title text-center mb-40">
                    <span class="sub-title">Upcoming Events</span>
                    <h2 class="title">
                        Join Our
                        <span class="position-relative">
                            <svg x="0px" y="0px" preserveAspectRatio="none" viewBox="0 0 209 59" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4.74438 7.70565C69.7006 -1.18799 136.097 -2.38304 203.934 4.1205C207.178 4.48495 209.422 7.14626 208.933 10.0534C206.793 23.6481 205.415 36.5704 204.801 48.8204C204.756 51.3291 202.246 53.5582 199.213 53.7955C136.093 59.7623 74.1922 60.5985 13.5091 56.3043C10.5653 56.0924 7.84371 53.7277 7.42158 51.0325C5.20725 38.2627 2.76333 25.6511 0.0898448 13.1978C-0.465589 10.5873 1.61173 8.1379 4.73327 7.70565"
                                    fill="currentcolor"></path>
                            </svg>
                            Community
                        </span>
                        And Make <br> It Bigger
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            @for (e of displayedEvents; track e.id) {
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card h-100">
                    <img src="assets/img/{{e.img}}" alt="Event Title" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-2">
                            <!-- <div class="text">
                              <i class="bi bi-clock"></i> 5:30 PM - 6:30 PM
                            </div> -->
                            <div class="text">
                                <i class="bi bi-calendar-date"></i> {{e.duration}}
                            </div>
                        </div>
                        <h5 class="card-title">{{e.title}}</h5>
                        <p class="card-text text-muted">
                            By <a href="" class="author-name">{{e.instructor}}</a>
                        </p>
                        <hr />
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="btn-enroll">
                                <button type="button" class="btn btn-primary border-0">
                                    Join Event
                                </button>
                            </div>
                            <div class="price">
                                <span class="text-decoration">{{e.price}}&#163;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="all-courses-btn mt-5">
            <div class="tg-button-wrap justify-content-center">
                <a routerLink="/events" class="btn arrow-btn">See All Events</a>
            </div>
        </div>
    </div>
</section>